
dir_to_ignore/GGJ2020_Unity/GGJ2020_Kaya/Library
dir_to_ignore/GGJ2020_Unity/GGJ2020_Kaya/.vs
dir_to_ignore/GGJ2020_Unity/GGJ2020_Kaya/Logs
dir_to_ignore/GGJ2020_Unity/GGJ2020_Kaya/obj
dir_to_ignore/GGJ2020_Unity/GGJ2020_Kaya/Temp


